html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.container {
  width: 80%;
}

.theme-background {
  background-color: #3C849C;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: #ffffff;
}

.nav {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  /* padding: 1rem; */
  /* color: #ffffff; */
}

#contact-us {
  padding-right: 20px;
}

#navbar-title {
  padding-left: 20px;
}
